# Ignore node_modules
node_modules/

# Ignore les fichiers d'environnement
.env

# Ignore les fichiers de log
*.log
npm-debug.log*

# Ignore les fichiers de cache npm/yarn
.npm/
.yarn/

# Ignore les fichiers de configuration de l'éditeur (ex: VSCode)
.vscode/

# Ignore le dossier de cache de Vercel (si utilisé)
.vercel/
